.commandWindow {
  /*background:rgba(0,0,0,0);*/
  height:300px;
  width:500px;
  /*color: white;*/
  background-color: black;
  border: 5px ridge gray;
  position:absolute;
  left:10%;
  top:30%;
  padding: 5px;
  z-index:10;
  overflow: scroll;
}

.commandText{
  color: white;
  position: absolute;
  bottom: 0;
  word-break: break-all;
  font-family: "Lucida Console", Monaco, monospace;
}

div:focus {
  outline: none;
}

.accessGranted {
  height:400px;
  width:600px;
  background-color: #009900;
  position:absolute;
  z-index:10;
  display: table;
  color: white;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 65px;
}

.centerText{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.accessDenied {
  height:400px;
  width:600px;
  background-color: #000000;
  position:absolute;
  z-index:10;
  display: table;
  color: white;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 65px;
}

/*.muteButton {
  background-image: url("../img/sound_on.png");
  background-position:  0 0;
  background-repeat: no-repeat;
  width: 186px;
  height: 53px;
  border: 0;
}*/

.muteButtonUnmuted, .muteButtonMuted {
  color: #000000;
  cursor: pointer;
  font-weight: bold;
  padding-bottom: 2px;
  height: 35px;
  width: 35px;
  border: 0;
}

.muteButtonUnmuted {
  background: url("../img/sound_on.png")  no-repeat top left;
}

.muteButtonMuted {
  background: url("../img/sound_off.png")  no-repeat top left;
}