.commandWindow {
  /*background:rgba(0,0,0,0);*/
  height:300px;
  width:500px;
  /*color: white;*/
  background-color: black;
  border: 5px ridge gray;
  position:absolute;
  left:10%;
  top:30%;
  padding: 5px;
  z-index:10;
  overflow: scroll;
}

.commandText {
  color: white;
  position: absolute;
  bottom: 0;
  word-break: break-all;
  font-family: "Lucida Console", Monaco, monospace;
}

div:focus {
  outline: none;
}

.accessGranted {
  height:400px;
  width:600px;
  background-color: #009900;
  position:absolute;
  z-index:10;
  display: table;
}

.accessMessage{
  color: white;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 65px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}